<ion-content class="home-content">
  
  <ion-grid class="top-header">
    <ion-row class="ion-align-items-center ion-justify-content-between">
      
      <ion-col size="auto" class="profile-pic">
        <ion-avatar>
          <img src="assets/images/image.png"  alt="Profile Picture">
        </ion-avatar>
      </ion-col>
      
      <ion-col size="auto" class="welcome-text">
        <h2>Welcome {{ firstName }}</h2>
      </ion-col>

      
      <ion-col size="auto" class="top-icons">
        <ion-buttons>
          <ion-button [routerLink]="['/notifications']">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <br>
  <div class="welcome-subtext">
    <p>Quick access to important features</p>
  </div>

  <br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card button class="quick-card big-card" [routerLink]="['/manage-requests']">
          <ion-icon name="location-outline" class="card-icon big-icon"></ion-icon>
          <ion-label class="card-label">Recycle Requests</ion-label>
        </ion-card>
      </ion-col>
  
      <ion-col size="12">
        <ion-card button class="quick-card big-card" [routerLink]="['/generate-tips']">
          <ion-icon name="book-outline" class="card-icon big-icon"></ion-icon>
          <ion-label class="card-label">Create Guidelines</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-card button class="quick-card big-card" [routerLink]="['/create-event']">
          <ion-icon name="calendar-outline" class="card-icon big-icon"></ion-icon>
          <ion-label class="card-label">Create Events</ion-label>
        </ion-card>
      </ion-col>
  
      <ion-col size="12">
        <ion-card button class="quick-card big-card wide-card" [routerLink]="['/tips-resources']">
          <ion-icon name="bulb-outline" class="card-icon big-icon"></ion-icon>
          <ion-label class="card-label">Tips & Resources</ion-label>
        </ion-card>
      </ion-col>
      <br><br>
    </ion-row>
  </ion-grid>
  

  <ion-footer class="tab-bar">
    <ion-toolbar>
      <ion-buttons slot="start" class="footer-buttons">
        <ion-button>
          <ion-icon name="home-outline"></ion-icon>
          HOME
        </ion-button>
  
        <ion-button [routerLink]="['/report-detail']">
          <ion-icon name="file-tray-full-outline"></ion-icon>
          Report
        </ion-button>
  
        <ion-button [routerLink]="['/admin-account']">
          <ion-icon name="settings-outline"></ion-icon>
          Settings
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>
