<ion-content class="contact-content">

  <div class="top-bar">
    <ion-icon name="arrow-back-outline" class="back-icon" [routerLink]="['/settings']"></ion-icon>
    <h1>My Profile</h1>
  </div>
  <br><br>

  <div class="contact-card">
    <h2 class="contact-title">Contact Us</h2>
    <p class="section-label">CONTACT</p>

    <ion-item lines="none">
      <ion-icon name="mail-outline" slot="start" class="mail-icon"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-text slot="end" class="email-text">weRecycle&#64;gmail.com</ion-text>
    </ion-item>
  </div>

</ion-content>
