<ion-header translucent="true"></ion-header>

<ion-content class="signup-content ion-padding">
  <div class="top-bar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>

    <h1 class="page-title">Sign Up</h1>

    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/login']">Login</ion-button>
    </ion-buttons>
  </div>

  <br><br><br><br>
  <form class="signup-form" (ngSubmit)="register()" #signupForm="ngForm">
    <div class="name-fields">
      <ion-input
        label="First Name"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="firstName"
        name="firstName"
        required>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-input>

      <ion-input
        label="Last Name"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="lastName"
        name="lastName"
        required>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-input>
    </div>

    <ion-input
      label="Email"
      labelPlacement="floating"
      fill="outline"
      type="email"
      [(ngModel)]="email"
      name="email"
      required>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
    </ion-input>

    <ion-input
      label="Contacts"
      labelPlacement="floating"
      fill="outline"
      type="text"
      [(ngModel)]="contacts"
      name="contacts">
      <ion-icon slot="start" name="call-outline"></ion-icon>
    </ion-input>

    <ion-input
      label="Location"
      labelPlacement="floating"
      fill="outline"
      type="text"
      [(ngModel)]="location"
      name="location">
      <ion-icon slot="start" name="location-outline"></ion-icon>
    </ion-input>

    <ion-item lines="none">
      <ion-input
        label="Password"
        labelPlacement="floating"
        fill="outline"
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
        required>
      </ion-input>
      <ion-button fill="clear" slot="end" (click)="togglePassword()" type="button">
        {{ showPassword ? 'Hide' : 'Show' }}
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>
        I would like to receive your newsletter and other promotional information.
      </ion-label>
    </ion-item>

    <ion-button expand="block" class="signup-button" shape="round" type="submit">
      Sign Up
    </ion-button>
  </form>
</ion-content>
